body {
  font-family: "Arial", sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #34495e;
  color: white;
  padding-top: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #2c3e50;
  border-radius: 5px;
  transform: scale(1.05);
}

.sidebar .brand {
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f1;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
}

.content {
  margin-left: 270px;
  padding: 30px;
  margin-top: 30px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.header h3 {
  font-size: 22px;
  color: #2c3e50;
}

.header .btn-signout {
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 25px !important;
}

.header .btn-signout:hover {
  background-color: #c0392b;
}
.container {
  display: contents;
  padding-bottom: 50px;
}
